.App {
    color: #4C4C6D !important;
    background-color:#B8DFD8;
}

/* Nav Bar Start */
h4{
  color: #4C4C6D;
}

.nav{
  background-color: #B8DFD8;
  box-shadow: 0 2px 4px 0px #205E61;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  border-radius: 5px;
}

.nav-link{
  text-align: center;
}
/* Nav Bar End */

/* Header Start */
.home-section{
  text-align: left;
  padding: 50px;
}
/* Header End */

/* About Start */
.about h2{
  text-align: center;
}
/* About End */

/* Skill Start */
.skills{
  margin: 1px;
  padding: 10px;
}

.icons {
  font-size: 1.3em !important;
  margin: 10px !important;
  opacity: 0.93 !important;
  border: 3px solid #E8F6EF !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

.icons:hover{
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.2) !important;
}
/* Skill End */

/* Project Start*/
.project{
  position: relative !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}
.project-intro{
  text-align: center;
}
.project-card{
    padding: 25px 25px;
    height: auto;
}
.project-card-view{
  border: 3px solid #E8F6EF;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.2) !important;
}
.project-buttons{
  color: #205E61;
  background-color: #E8F6EF;
  border: none;
 }
 .project-buttons:hover{
  background-color: #70bbbe;
 }
/* Project End */

/* Contact Start */
.contact-form{
  margin: 40px 1px;
  padding: 25px;
  border-radius: 5px;
}

.button{
  text-align: center;
}
/* Contact End */

/*  Footer Start */
.footer {
    background-color: transparent;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
    border: 1px solid #205E61;
    border-radius: 2px;
  }

  .footer-body {
    z-index: 1;
    text-align: center !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
/* Footer End  */

