.App {
    color: #18122B !important;
    background-color:#e6e7ed;
}

/* Nav Bar Start */
.logo{
  height: auto !important;
  width: 5em !important;
}

h4{
  color: #18122B;
}

.nav{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
/* Nav Bar End */

/* Header Start */
.home-section{
  text-align: left;
  padding: 80px 25px;
}
/* Header End */

/* Skill Start */

/* Skill End */

/* Project Start*/
.project{
  position: relative !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}
.project-intro{
  text-align: center;
}
.project-card{
    padding: 25px 50px;
    height: auto;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,.2) !important;
}
/* Project End */

/*  Footer Start */
.footer {
    background-color: transparent;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }

  .footer-body {
    z-index: 1;
    text-align: center !important;
  }
/* Footer End  */